#tags {
    margin-bottom: 0.5rem;;
}

#checkboxGroup {
    display: flex;
    flex-wrap: wrap;
}

.checkboxItem {
    margin-left:0.4rem;
    margin-right:0.4rem;
}

#first {
    margin-left:0rem;
}

textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#textAreaContainer {
    display: flex;
    flex-direction: column;
    padding-top:1rem;
}

.fieldContainer {
    /*Attention: form.css which is also imported also has margins for this*/
    margin-top:1.3rem;
    margin-bottom:1.3rem;
}

#tags {
    font-size: 1.1em;
    margin-top:1.7rem;
}

#ingredientsInfo {
    position: absolute;
    max-width: 35rem;
}

label[for=description] {
    margin-top:1rem;
}

#description {
    margin-bottom: 1rem;
}

#descriptionError {
    margin-top:9rem;
    position: absolute;
}

#submitButton {
    margin-top:1rem;
}

#heading {
    padding-top:1.5rem;
}