/* Style for Recipe Name */
#recipeNameError {
    position: absolute;
    color: red;
    font-size: 0.9em;
    padding: 0.3rem 0;
}

/* Style for Ingredients and Instructions */
textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: vertical; /* Allow vertical resizing */
}

/* Style for Author */
#authorError {
    position: absolute;
    color: red;
    font-size: 0.9em;
    padding: 0.3rem 0;
}

/* Adjust the button style */
#submitButton {
    background-color: #5bc0de; /* Sky Blue */
    color: #fff;
    padding: 0.625rem 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#submitButton:hover {
    background-color: #349fd0; /* Darker shade on hover */
}

/* Optional: Style the form heading */
#heading {
    color: #333;
}

/* Optional: Style the form labels */
label {
    color: #333;
}

/* Optional: Style the required asterisk */
.required {
    color: #dc3545; /* Red */
    margin-left: 0.2rem;
}

/* Optional: Add some spacing between form elements */
.fieldContainer {
    margin-bottom: 1.9rem;
}

/* Optional: Adjust error message style */
.error {
    color: #dc3545; /* Red */
    font-size: 0.9em;
    padding: 0.3rem 0;
    position: absolute;
}