main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}/*Main is consisting of the whole page and it's there to position elements correctly*/

form {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#heading {
    font-size: 2em;
    margin-bottom: 1.25rem;
    margin-top:1.25rem;
}

.fieldContainer {
    margin-bottom: 1.9rem;
    margin-top: 1.9rem;
}

label {
    font-size: 1.1em;
    margin-bottom: 0.3rem;
    color: #333;
}

.required {
    color: red;
    margin-left: 0.2rem;
}

input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#submitButton {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625rem 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; /*Without the 1st parameter, it would animate while loading*/
}

#submitButton:hover {
    background-color: #3c8d41;
}

.error {
    color: red;
    font-size: 0.9em;
    padding:0.3rem 0;
    position: absolute;
}

#authSwitch {
    font-size: 1.1em;
}

#error {
    color: red;
    font-size: 1.1em;
    margin-top: 10px;
    max-width: 450px;
}