* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    padding: 15px 0px;
    text-align: center;
    position: fixed;
    width: 100vw;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

nav > a:hover {
    text-decoration: underline;
}

