#header {
    background-color: #3498db;
    color: white;
    padding: 15px 0px;
    text-align: center;
    position: fixed;
    width: 100vw;
}

.navLink {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.navLink:hover {
    text-decoration: underline;
}