body {
    background-color: #f4f4f4;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.25rem;
    padding-top:4rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom:2rem;
    border-radius: 1%;
}

#recipe {
    text-align: center;
}

#image {
    max-width: 100%;
    margin-bottom: 0.6rem;
    
}

#recipeName {
    color: #333;
}

#author {
    color: #555;
   
}

#ingredients {
    list-style: none;
    padding: 0;
}

#ingredients li {
    margin-bottom: 0.3rem;
}

#description {
    text-align: left;
}


h3 {
    margin-top:1rem;
    margin-bottom:1rem;
}

#recipeName {
    margin-bottom:1rem;
}



#submitButton {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625rem 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    height: 2.5rem;
}

#submitButton:hover {
    background-color: #3c8d41;
}

label {
    font-size: 1.1em;
    margin-bottom:1rem;
}

textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-left:2rem;
    margin-right:2rem;
}

form {
    display: flex;
    flex-direction: column;
}

.flexColumn {
    display: flex;
    align-items: center;
}

.comments {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top:2rem;
    margin-left:2rem;
    margin-right:2rem;
}

.commentBody {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.author {
    color: darkslategray;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.commentText {
    color: #333;
}


.redButton {
    color: #fff;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    background-color: #dc3545;
    margin-top:0.7rem;
}

.redButton:hover {
    background-color: #c82333;
}

.blueButton {
    background-color: #17a2b8;
    color: #fff;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-top:0.7rem;
}

.blueButton:hover {
    background-color: #138496;
}

#ratingContainer {
    display:flex;
    align-items: center;
    margin:1rem;
}

#rating {
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#star {
    font-size: 3em;
}

.hidden {
    display: none;
}

#buttonForms form button {
    width: 5rem;
}

#buttonForms {
    display: flex;
    justify-content: start;
    gap: 1rem;
}