body {
    background-color: #f4f4f4;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.25rem;
    padding-top:4rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom:2rem;
    border-radius: 1%;
}

#recipe {
    text-align: center;
}

#image {
    max-width: 100%;
    margin-bottom: 0.6rem;
}

#recipeName {
    color: #333;
}

#author {
    color: #555;
    margin-bottom: 1.25rem;
}

#ingredients {
    list-style: none;
    padding: 0;
}

#ingredients li {
    margin-bottom: 0.3rem;
}

#description {
    text-align: left;
}


h3 {
    margin-top:1rem;
    margin-bottom:1rem;
}

#recipeName {
    margin-bottom:1rem;
}